<%- include('../partials/head') -%> 
    
<%- include('../partials/navigation') -%> 

<div class="homepage-flex">
    <div>This is the photo of me.</div>
    <div>This is information about me</div>
    <div>This is my LinkedIn information</div>
</div>


   <%- include('../partials/footer') -%> 