<%- include('../partials/head') -%> 
    
<%- include('../partials/navigation') -%> 

<div class="homepage-flex">
    <div>This is the home page.</div>
    <div>This will contain the table of all the current Food Fridges listed.</div>
</div>

<%- include('../partials/footer') -%> 