<%- include('../partials/head') -%> 
    
<%- include('../partials/navigation') -%> 

<div class="homepage-flex">
    <h1>This Is The Admin Page</h1>

    <div>This is the admin page.</div>
    <div>This will contain the table of all the current Food Fridges listed.</div>
    
</div>


  </form>
  </main>
  

<%- include('../partials/footer') -%> 