<%- include('../partials/head') -%> 
    
<%- include('../partials/navigation') -%> 

    <div class="homepage-flex">
        <div>This is the home page.</div>
        <div>This is the list of locations.</div>
        <div>This is the map.</div>
    </div>

 <%- include('../partials/footer') -%> 