<%- include('../partials/head') -%> 
    
<%- include('../partials/navigation') -%> 

<div class="homepage-flex">
    <div>This is the home page.</div>
    <div>This is the list of locations.</div>
    <div>This will display the list of food fridges.</div>
    <div>You can also search here.</div>
</div>

<%- include('../partials/footer') -%> 
