<%- include('../partials/head') -%> 
    
<%- include('../partials/navigation') -%> 

<div class="homepage-flex">
    
    <h1>This Is The Search Page</h1>

    <div>This is the list of locations.</div>
    <div>This will display the list of food fridges.</div>
    <div>You can also search here.</div>
</div>

<%- include('../partials/footer') -%> 
