    <header>
        <a href="#" class="logo">
            <img src=".../img/Webp.net-resizeimage.png/" class="bffLogo">
        </a>
        <nav class="navbar">
            <ul class="navbar-list">
                <li><a href="/">Home</a></li>
                <li><a href="/admin">Admin</a></li>
                <li><a href="/search">Search</a></li>
                <li><a href="/about">About Us</a></li>
                <li><input type="text" placeholder="search map locations 🔎 " class="searchbar"></li>
            </ul>
        </nav>
        <a href="javascript:void(0);" class="menu">
            <i class="fas fa-bars fa-2x"></i>
        </a>
    </header>